a {
    text-decoration: none;
}

.linked-in-logo{
    padding-left: 5px;

}

.li-logo-widget{
    max-width: 48px;
    /* height: 42px; */
}
.git-logo-widget{
    max-width: 42px;
    background-color: white;
}
.wellfound-logo-widget {
    max-height: 50px;
    /* max-height: 40px; */
}