@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

.activity-show-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.activity-show-card {
    width: 1250px;
    font-family: "Helvetica", "Arial", sans-serif;

}

.activity-show-card-header{
    display: flex;
    flex-direction: row;
    background-color: #F7F7Fa; 
    border: solid 1px rgba(168, 168, 179, 0.6);
    width: 100%;
    height: 45px;
    align-items: center;
    justify-content: space-between;

}

.athlete-name-activity-show-container {
    margin-left: 20px;
    font-size: 20px;
    display: flex;
}
.sport-activity-show{
    margin-left: 8px;
}

.buttons-activity-show{
    margin-right: 20px;
}

.edit-activity-button { 
    background-color: #F7F7Fa; 
    justify-content: center;
    border-radius: 4px;
    width: 77px;
    font-size: px;
    color: black;
    cursor: pointer;
    border: none;
}

.edit-activity-button:hover{
    background-color: rgba(250, 250, 250, 1)
}

.activity-show-details-container{
    height: 135;
    display: flex;
    border: solid 1px rgba(168, 168, 179, 0.6);    


}
.activity-show-left-side, .activity-show-right-side {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;

}
.activity-show-left-side{
    height: 135;
    min-width: 625px;
    border-right: solid 1px rgba(168, 168, 179, 0.6);    


}
.time-title-description-activity-show{
    margin-left: 20px;
    flex-direction: column;
}

.start-time-activity-show, .stat-label-activity-show, .speed-type-activity-show{
    font-size: 12px;
    color: #666

}

.title-activity-show{
    font-size: 28px;
    margin: 10px 0px;

}

.description-activity-show{
    font-size: 14px;
}

.stat-container-activity-show{
    flex-direction: column;
    margin-right: 20px;

}

.stat-activity-show {
    font-size: 28px;
    margin-bottom: 10px;


}

.stat-activity-show{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


.speed-type-activity-show{
    font-size: 18px;
}

.activity-add-description {
    border: none;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: rgba( 240, 240, 245, .8); 
    width: 125px;
    height: 25px;


}

.activity-add-description:hover{
    background-color: rgba( 235, 235, 245, 1); 

}