@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

.activity-show {
    padding-top: 1%;
    display: flex;
    font-family: 'Sora', sans-serif;
    justify-content: center;
    align-items: top;
    background-color: white;
    margin: 10;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
}

.add-description:link,
:visited {
    text-decoration: none;
    color: black
}
.activity-show-box {
    display: flex;
    flex-direction: column;
    width: 960px;
    border: 1px solid black;
    height: fit-content;
    /* background-color: white; */

}

.topbar{
    display: flex;
    flex-direction: row;
    background-color: #BABABB;
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
}

.athlete-name {
    padding-left: 10px;
}
.dash {
    padding-left: 10px;
    padding-right: 10px;
}

.sport {
    padding-right: 50px;
}

.title-box-left {
    width: 519px;
    height: 134px;
    border: 1px solid black;
    display: flex;

}
.profile-pic-show {
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 10px;
    /* border: 1px solid black; */

}

.profile-picture-image {
    height: 120px;
    width: auto;
    border-radius: 50%;
    /* justify-content: center; */
    /* align-items: center; */
}

.activity-start{
    padding-top: 15px;
    padding-left: 20px;
    font-size: x-small;
}

.activity-title {
    font-size: xx-large;
    padding-bottom: 10px;
    padding-top: 10px;
}

.description-show {
    justify-content: left;
}
.topbox {
    display: flex;
    /* border: 3px solid red; */
}
.add-description{
    padding-left: 6px;
    padding-right: 6px;
    background-color: lightgray;
    width: fit-content;
    font-size: .7rem;
    
}



.details-box-right{
    display: flex;
    align-content: center;
    padding-top: 3px;
    padding-left: 5px;

}
.distance-show-box{
    padding-right: 20px;
    padding-top: 3px;
    padding-left: 5px;   
}

.distance-show-value{
    font-size: larger;
}

.moving-time-value{
    font-size: larger;
}

.moving-time-box{
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.distance-word {
    font-size: x-small;
}
.moving-time-word{
    font-size: x-small;
}

.moving-time-box{
    padding-top: 3px;
    padding-left: 5px;
}
.speed-box-show {
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

}

.speed-value {
    font-size: larger;
}
.speed-text{
    font-size: x-small;
}
.hr-box {
    padding-top: 3px;
}
.hr-value{
    font-size: larger;
}
.hr-word{
    font-size: x-small;
}