.page-outer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.user-settings-inner-wrapper {
    width: 1250px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Helvetica", "Arial", sans-serif;
}

.user-settings-title{
    font-weight: bold;
    border-bottom: solid 1px rgba(168, 168, 179, 0.6);    
    padding-bottom: 10px
}
.user-settings-section-outer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px rgba(168, 168, 179, 0.6);   
    font-size: 14px;


}

.user-settings-section-left{
    padding-right: 16px;
    color: gray;
    width: 140px;
    text-align: right;
}
.user-setting-section-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}
.user-setting-profile-picture-container{
    align-items: center;
    display: flex;
}
.user-setting-profile-picture-container:hover{
    cursor: pointer;
}

.user-settings-plus-icon {
    max-width: 45px;
    /* font-size: 16px; */
    color: rgba(168, 168, 179, 0.6);
    margin-left: -26px;
    margin-top: 75px;
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" -25, "opsz" 48;
    
}

.user-settings-plus-icon:hover {
    cursor: pointer;
    /* font-size: 16px; */
    color: rgba(168, 168, 179, 1);
    font-variation-settings: "FILL" 1, "wght" 600, "GRAD" 200, "opsz" 48;
}



.user-settings-link, .cancel-link{
    
    font-size: 14px;
    justify-content: center;
    display: flex;
    color: #007fb6;

}

.user-settings-link {
    padding-top: 20px;
    width: 125px;
    margin-left: -1px;
}
.user-settings-link:hover, .cancel-link:hover{
    cursor:pointer;
    text-decoration: underline;
}

.user-settings-content{
    font-weight: 600;
}

.hover-effect:hover{
    background-color: rgba(168, 168, 179, 0.1);
}

.profile-pic-user-settings {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.photo-input-button {
    display: none;
}

.edit-photo-instructions {
    font-size: 14px;
}

.buttons-edit-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 34px;
}
.save-button-edit-photo{
    background-color: white;
    width: 52px;
    height: 34px;
    /* background-color: rgba(168, 168, 179, 0.1); */
    border: solid rgba(168, 168, 179, 0.1);
    border-radius: 5%;
    margin-right: 10px;
}

.cancel-link {
    padding-left: 10px;
    border-left: 1px solid gray;
}


.edit-image-container {
    position: relative;
    width: 600px;
    height: 600px;
}
.new-photo-container{
    margin-top: 20px;
}
.new-photo{
    width: 150px;
    height: 150px;
}