.dashboard-outer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 250);

}
.dashboard-inner-wrapper {
    max-width: 1250px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 250);
    justify-content: space-between;
}


.dashboard-left, .dashboard-right {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    height: 230px;
    position: sticky;
    position: -webkit-sticky;
    top: 70px;
    width: 324px;
    align-items: flex-start;
    /* padding-bottom: 140px;     */
}
.dashboard-left{
    padding-right: 40px;
}
.dashboard-right {
    padding-left:  20px;
}



