.widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 292px;
    background-color: white;
    margin-top: 64px;
    box-shadow: 0px 8px 8px 0px lightgray;
    font-family: "Sora", sans-serif;
    max-height: 350px;
}

.pic-container-widget {
    margin-top: -35px;
}

hr {
    margin: 1px;
}

.below-pic-widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.stats-widget {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: solid; */
    width: 249px;
}
.line-under {
    width: 292px;
    /* border-bottom: solid gray 1px; */
    border-bottom: solid 1px rgba(168, 168, 179, 0.6);
}
.stat-title-value-widget {
    font-family: "Helvetica", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-title-widget {
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 100;
}
.count-value-widget {
    font-size: 20px;
    margin-bottom: 5px;
    border-bottom: gray;
    cursor: pointer;
}

.count-value-widget:hover {
    color: #007fb6;
}

.widget-bottom {
    padding: 16px;
}

.widget-bottom-text {
    font-size: 10px;
    margin-bottom: 8px;
}
.activity-title-widget {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.latest-activity-link {
    text-decoration: none;
    color:black;
}
.activity-title-widget:hover {
    color: orangered;
}
.activity-title-widget > div {
    font-family: "Helvetica", "Arial", sans-serif;
    margin-left: 10px;
}
.user-show-link-followers {
    text-decoration: none;
    color: black;
}

.activty-start-time-widget {
    font-size: 14px;
    font-weight: 400;
}
