.comment-container {
    width: 494px;
       
}
.see-all-comments-container {
    margin-bottom: 5px;
}

.see-all-comments-link{
    font-size: 11px;
    cursor: pointer;
}

.see-all-comments-link:hover {
    color: rgb(128, 128, 242);
}
.comment-card {
    margin: 6px 0px 6px;
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-between;
}
.profile-picture-name-body-like-container-comment-index {
    display: flex;
    flex: column;
    align-items: flex-start;
}
.commenter-profile-picture-comment-index{
    height: max-content;
}
.name-body-like-comment-index {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    justify-content: left;
    position: relative;
}



.time-delete-follow {
    display: flex;
    width: fit-content;
    flex-wrap: nowrap;
}

.time-delete-follow > div{
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
    margin-right: 3px;
    align-items: center;
}

.time-since-comment{
    /* color: rgba(168, 168, 179, 0.9); */
    color: #6d6d78;
        
}

.delete-comment {
    color: orange;
}

.delete-comment:hover {
    cursor: pointer;
    font-weight: bolder;
    color: red
}

.commenter-name-timeago{
    width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    justify-content: space-between;
}

.commenter-name {
    font-size: 12px;
    font-weight: 200;

}
.comment-body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    justify-content: left;
    margin-top: 5px;
    width: 425px;
    font-size: 12px;
}

