.activity-index-body {
    border-top: 1px solid gray;
    padding-top: 1%;
    height: 90vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    background-color: rgb(236, 235, 231);
    margin: 10;
    
}

.activity-container {
    width: 550;
    padding: 0, 50;
    background-color: white;
}