@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');



.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: column;
    padding-top: 5%;

}
.statement {
    font-family: 'Sora', sans-serif;
    font-size: large;
}
.content {
    display: flex;
    flex-direction: row;
}

.content .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}
.demo-login {
    background-color: #4267B2;
    font-family: 'Sora', sans-serif;
    color: white;
    height: 50px;
    width: 400px;
    cursor: pointer;
}

.email-signup {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    background-color: transparent;
    /* font-family: 'Sora', sans-serif; */
    color: black;
    height: 50px;
    width: 400px;

}


.email-signup:hover {
    background-color: #4267B2;
    cursor: pointer;
}
