
.full-width {
    display: flex;
    width: 100%;
    height: 60px;
    z-index: 100;
    top: 0;
    position: sticky;
    background-color: white;
    box-shadow: 0px 0.7px 0px 0px lightgray;

    justify-content: center;
}

.navbar {
    display: flex;
    width: 1250px;
    height: 60px;
    flex-direction: row;
    align-items: center;
    line-height: 18px;
    top: 0;
    position: sticky;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    height: 56px;
    z-index: 100;
}

.loginBut {
    background-color: white;
    font-family: "Sora", sans-serif;
    width: 80px;
    border-radius: 5px;
    height: 30px;
}

.signupBut {
    background-color: rgb(255, 123, 0);
    font-family: "Sora", sans-serif;
    color: white;
    width: 80px;
    border-radius: 5px;
    height: 30px;
}

.logoutBut {
    background-color: #fc5200;
    font-family: "Sora", sans-serif;
    width: 80px;
    border-radius: 5px;
    height: 30px;
    color: white;
    border: none;
}
.session-button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.plus-icon-nav {
    max-width: 45px;
    font-size: 38px;
    color: red;
    margin-left: 10px;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.profile-pic-drop-down-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
}

.profile-pic-drop-down-inner {
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    top: 0;
}
.profile-pic-drop-down-wrapper:hover {
    /* border: 1px solid; */
    /* box-shadow: 0px 0px .8px 0px lightgray; */
    border-left: 0.8px lightgray solid;
    border-right: 0.8px lightgrey solid;
    border-bottom: 0.8px white solid;
    z-index: 250;
}

.chevron {
    color: #494950;
    cursor: default;
}
.drop-down-session {
    position: fixed;
    margin-top: 60px;
    z-index: 90;
    border-left: 0.8px solid lightgray;
    border-right: 0.8px solid lightgray;
    border-bottom: 0.8px solid lightgray;
}

.drop-down-session {
    margin-left: -107.5px;
    font-size: 12px;

    border-left: 0.8px solid lightgray;
    border-right: 0.8px solid lightgray;
    border-bottom: 0.8px solid lightgray;
}
.session-drop-down-element {
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 14px 12px;
    width: 163px;
    background-color: white;
}

.session-drop-down-element:hover {
    background-color: rgb(214, 213, 213);
    cursor: pointer;
}

.session-link-following {
    color: orangered;
    width: 90px;
    font: 14px;
}

.session-drop-down-top {
    display: flex;
}

.session-drop-down-top-right {
    border: white 1px;
    min-width: 80px;
}
.session-drop-down-top-left {
    border-top: 0.8px solid lightgray;
}

.session-link {
    color: black;
}
