@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

.full-width {
    /* border-bottom: 1px solid gray; */
    height: 60px;

}
.test{ 
    background-color: black;
    color: white;
    position: fixed;
    z-index: 100;
}
.navbar {
    display: flex;
    max-width: 100%;
    height: 60px;
    flex-direction: row;
    align-items: center;
    line-height: 18px;
    position: relative;
    justify-content: space-around;
    
}
.cadencetitle {
    font-family: 'Sora', sans-serif;
    color: orange;
}

.logo {
    height: 56px;
}

/* .orange {
    background-color: orange;
} */

.loginBut {
    background-color: white;
    font-family: 'Sora', sans-serif;
    width: 80px;
    border-radius: 5px;
    height: 30px
}

.signupBut {
    background-color: rgb(255, 123, 0);
    font-family: 'Sora', sans-serif;
    color: white;
    width: 80px;
    border-radius: 5px;
    height: 30px

}

.logoutBut {
        background-color: rgb(255, 123, 0);
        font-family: 'Sora', sans-serif;
        width: 80px;
        border-radius: 5px;
        height: 30px
}

