input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.form-page {
    max-width: 1232px;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    /* justify-content: center; */
    /* padding-left: 435px; */
}

.distance-form-label {
    padding-bottom: 4px;
}