input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: transparent;
}
input[type=number] {
    -moz-appearance: textfield;
    border: transparent;
}


.form-page {
    max-width: 1232px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    /* justify-content: left; */
    /* justify-content: center; */
    /* padding-left: 435px; */
}
.top-container {
    display: flex;
    width: 515px;
    flex-direction: row;
    padding-bottom: 35px;
    border-bottom: solid rgb(168, 168, 184) 1px;
    margin-bottom: 10px;
}
 .form-page input:focus {
    outline: none; 
}
   
.distance-form-container{
    width: 240px;
    display: flex;
    flex-direction: column;

}


.distance-form-label {
    padding-bottom: 4px;
}

.distance-form-entry {
    display: flex;
    flex-direction: row;
    height: 36px;
    border: solid rgb(168, 168, 184) 1px;
}
.distance-input {
    text-align: center;
    height: 34px;
    border: solid rgb(168, 168, 184) 1px;
}

.unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 94px;
    height: 36px;
    text-align: left;
    padding-left: 6px;
    border: solid rgb(168, 168, 184) .5px;
}

.duration-form-container {
    width: 240px;
    display: flex;
    flex-direction: column;
    /* border: solid rgb(66, 66, 220) 1px; */
    margin-left: 35px;
    

}

.duration-form-label {
    padding-bottom: 4px;
    /* border: solid rgb(232, 17, 17) 1px; */
}
.duration-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 240px;
    height: 36px;
    /* border: solid rgb(168, 168, 184) .5px; */
}

.duration-inputs p{
    color: rgb(168, 168, 184);
    /* text-align: right;
    align-items: center; */
}

.duration-inputs input{
    width: 40px;

}
.hours-form-box{
    width: 80px;
    height: 36px;
    border: solid rgb(168, 168, 184) .5px;
    align-items: center;
}

/* .hours-form-box p{
    color: rgb(168, 168, 184);
    text-align: right;
} */
.minutes-form-box {
    width: 80px;
    height: 36px;
    border: solid rgb(168, 168, 184) .5px;
}
.time-form-box {
    display: flex;
    align-items: center;
    width: 80px;
    height: 36px;
    border: solid rgb(168, 168, 184) .5px;
}
::placeholder{
    color: black;
}

/* .time-text{
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;

}

.time-text p{
    /* display: flex; */
    /* align-items: center; */
/* } */ 

.time-input {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    /* justify-content: center; */
    height: 34px;
    width: 10px;
    margin-left: 20px;
    margin-right: 20px
    /* border: solid rgb(168, 168, 184) 1px; */
}

.form-details-container {
    display: flex;
    width: 515px;
    flex-direction: column;
    /* padding-top: 35px; */
    padding-bottom: 35px;
    border-bottom: solid rgb(168, 168, 184) 1px;
    margin-bottom: 10px;
}

.form-detail-container {
    width: 240px;
    display: flex;
    flex-direction: column;
    padding-right: 35px;
    /* border: solid rgb(66, 66, 220) 1px; */


}
.sport-time-container{
    display: flex;
    flex-direction: row;
    /* padding-bottom: 35px; */

}

.form-detail-label-container{
    padding-bottom: 6px;
    padding-top: 35px;
    
}

.sport-dropdown {
    width: 240px;
    height: 35px;
}

.form-date-field{
    height: 32px;
    width: 240px;
}

.title-form{
    height: 35px;
    width: 515px;
    
}

.description-form-input {
    padding-top: 6px;
    width: 515px;
    height: 105px;
    /* vert */

}

.description-form-input::placeholder{
    color: gray;
}

