.follow-button {
    background-color: #fc5200;
    justify-content: center;
    border-radius: 4px;
    width: 72px;
    color: white;
    cursor: pointer;
    border: none;
}

.follow-button-activityIndex {
    height: 27px;
}

.follow-button-commentIndex{

    margin-left: 4px;
    font-size: 10px;
    padding-left: 4px;


}


