.user-show-wrapper {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 150px;
    font-family: "Sora", sans-serif;

}



.user-show-items {
    width: 1220px;
    margin: 20px;
}

.user-show-top {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}

.activity-count-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.total-text {
    font-size: 12px;
    color: gray;
}

.activity-count-container > h3{
    font-size: 15px;
    font-weight: 200;
}
.activities-last-mounth-count{
    font-size: 72px;
}


.under-profile-pic-user-show {
    display: flex;
    flex-direction: row;
    
}


.athlete-name-user-show {
    font-family: "Sora", sans-serif;
    display: flex;
    flex-direction: row;
    width: 430px;
    margin: 10px 0px 40px 0px;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
}
.display-buttons-content{
    width: 750px;
}
.display-buttons {
    padding-top: 15px;
    z-index: 1;
    border-bottom: lightgray solid 1px;
}


.display-button-user-show {
    width: 122px;
    height: 40px;
    border: none;
    border-bottom: none;
    background-color: white;
    /* border-top: red solid 2px; */
    border-left: lightgray solid 1px;
    border-right: lightgray solid 1px;
}
.button-active {
    border-top: red solid 2px;
    border-bottom: none;

}
.button-inactive-activities {
    border-left: none;
}
.button-inactive-follows{
    border-right: none;
}

.display-button-user-show:hover{
    background-color: rgba(168, 168, 179, 0.1);
}

.left-right {
    display: flex;
    width: 1220px;
}

.right {
    margin-left: 120px;
    margin-top: 52px;
    border-top: lightgray solid 1px;
    width: 360px;
}


