/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

/* @import-normalize; */
@import './assets/CssReset.css';
html {
    margin: -8px 0px 0px -8px;
}
/* @import './components/NavBar/NavBar.css'; */
/* @import './components/HomePage/HomePage.css'; */
/* @import './components/SignUpFormPage/SignUpFormPage.css'; */
/* @import './components/ActivityShowPage/ActivityShowPage.css'; */
/* @import './components/Footer/Footer.css' */
/* TODO Add site wide styles */

/* * {
    max-width: 960px;
} */

