.profile-pic-user {
    border-radius: 50%;
    width: 136px;
    height: 136px;
}
.profile-pic-follow-index,
.profile-pic-navbar {
    height: 32px;
    width: 32px;
}
.profile-pic {
    border-radius: 50%;
}

.profile-pic-comment-form {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.profile-pic-comment-index {
    height: 30px;
    width: 30px;
}
.profile-pic-user-widget {
    width: 70px;
    height: 70px;
}

.profile-pic-activity-show {
    width: 100px;
    height: 100px;
}


