.profile-pic-user {
    border-radius: 50%;
    width: 136px;
    height: 136px;
}
.profile-pic-follow-index {
    height: 32px;
    width: 32px;
}
.profile-pic {
    border-radius: 50%;
}

.profile-pic-comment-form {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.profile-pic-comment-index {
    height: 30px;
    width: 30px;
}
