@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');

.body {
    background: url('../../assets/loginback/logback.jpeg');
    background-size: cover;
    padding-top: 1%;
    height: 90vh;
    width: 99vw;
    /* background-position: fill; */
    /* height: 1000px; */
}

.formwindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    

}

.login-container {
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);

    justify-content: center;
    font-size: small;
    width: 400px;
    font-family: 'Sora', sans-serif;

}
.demodiv {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.65);
    width: 400px;
    justify-content: center;
    align-items: center;
}

.loginform {
    display: flex;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.65);
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form-field {
    height: 50px;

}

.form-text-box {
    height: 35px;
    width: 300px;
    background-color: black;
    font-weight: bold;
    color: white;
    border-radius: 7px;

}

.errors {
    color: red;
}

.form-text-box:focus {
    background-color: white;
    color: black
}


.login-but {
    background-color: rgb(255, 123, 0);
    font-family: 'Sora', sans-serif;
    font-weight: 100;
    color: white;
    height: 50px;
    width: 310px;
    cursor: pointer;
    border-radius: 7px;
    margin-bottom: 20%;

}

.login-demo {
    background-color: #4267B2;
    font-family: 'Sora', sans-serif;
    color: white;
    height: 50px;
    width: 310px;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 30%;
            

}
.signup-disclaimer>p {
    justify-content: center;
    color: white;
    font-size: smaller;
    padding-left: 20%;
    padding-right: 20%;
}

.alt {
    color: white;
    font-family: 'Sora', sans-serif;

}

