.follow-button {
    background-color: #fc5200;
    justify-content: center;
    border-radius: 4px;
    width: 72px;
    color: white;
    cursor: pointer;
    border: none;
}

.followed-button {
    background-color: white;
    color: black;
    /* color: #fc5200; */
    border: 1px solid lightgray;
}

.followed-button:hover{
    background-color: #fc5200;
    color: white;
    border: none;
}

.follow-button-activityIndex {
    /* background-color: #fc5200;
    justify-content: center;
    width: 72px; */
    /* color: white; */
    /* border-radius: 4px; */
    height: 27px;
    /* cursor: pointer;
    border: none; */
}

.follow-button-commentIndex{
    /* background-color: #fc5200;
    justify-content: center;
    border-radius: 4px;
    width: 72px; */
    /* color: white; */
    margin-left: 4px;
    font-size: 10px;
    padding-left: 4px;
    /* border: none; */

}


